body {
    background: #e2e9ed;
    color: #112433;
    font-family: 'Arial Regular', sans-serif;
    font-size: 14pt;
}

header {
    display: flex;
    padding: 32px 0 32px 20%;
    margin-left: -210px;
}

header p {
    text-transform: uppercase;
    width: 200px;
    font-size: 60pt;
    font-weight: bold;
    line-height: 45pt;
    padding-left: 24px;
}

nav {
    padding: 24px 0 24px 20%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #112433;
    margin-right: 60px;
}

main {
    display: table;
}

main article {
    display: flex;
    padding: 12px 0;
}

main article:nth-of-type(even) {
    background: #7a3052;
    color: #e2e9ed;
}

main > article > aside {
    padding: 56px 20px;
    line-height: 34px;
    display: flex;
    margin-left: auto;
}

main > article > aside > span {
    padding: 0 6px;
    font-style: italic;
    font-weight: bold;
}

main article section {
    width: 80%;
}

main article section h1 {
    font-family: 'Arial Bold', sans-serif;
    font-weight: bold;
    font-size: 16pt;
    padding: 16px 0;
    text-transform: capitalize;
    font-style: italic;
}

main article section p {
    padding-bottom: 12px;
}

main article section .tags {
    padding: 12px 0 12px 0;
}

main article section .tags span {
    color: #80878c;
    padding-right: 12px;
}

footer {
    background-color: #112433;
    color: #e2e9ed;
    padding: 12px 0 12px 20%;
    font-family: 'Arial Regular', sans-serif;
    font-size: 12pt;
}

/* SPRITES */
.sprite {
    display: inline-block;
    background: url('../images/sprites/thumbs.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.sprite .thumb-up-dark,
main article:nth-of-type(odd) i.sprite.up {
    background-position: -1px -33px;
    width: 32px;
    height: 32px;
}

.sprite .thumb-down-dark,
main article:nth-of-type(odd) i.sprite.down {
    background-position: -1px -0px;
    width: 32px;
    height: 32px;
}

.sprite .thumb-up-light,
main article:nth-of-type(even) i.sprite.up {
    background-position: -34px -33px;
    width: 32px;
    height: 32px;
}

.sprite .thumb-down-light,
main article:nth-of-type(even) i.sprite.down {
    background-position: -34px -0px;
    width: 32px;
    height: 32px;
}